$white: #fff;
$white-2: #F7F7F7;
$white-3: #F3FEF4;
$white-4: #f4f4f4;
$white-5: #ccc;
$black: #000;
$black-2: #201D27;
$black-3: #0B0819;
$black-4: #252525;
$gray: #888;
$medium-gray: #DDDDDD;
$light-gray: #BDBDBD;
$light-gray-2: #A9A9A9;
$light-gray-3: #959595;
$red: #D51820;
$light-red: #FFA3A6;
$green: #29A643;
$green-2: #31B63B;
$green-3: #3C763D;
$light-green: #B1FFC2;
$light-yellow: #FFF8D6;
$shadow-gray: #444444;


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Bebas Neue', sans-serif;
    .navigation {
        background-color: $black;
        height: 113px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 29px;

        @media (min-width: 1200px) {
            justify-content: space-between;
        }

        &__logo {
            display: flex;
            align-items: center;

        }

        &__links {
            display: none;

            .links-single {
                font-size: 15px;
                line-height: 18px;
                font-weight: 400;
                text-decoration: none;
                margin-right: 40px;
                color: $white;

                &:last-of-type {
                    margin-right: 25px;
                }
            }

            @media (min-width: 1200px) {
                display: flex;
            }
        }
    }
/*****************************************************************/

.hero{
    background-color:$black-2;
    mix-blend-mode: multiply;
    text-align: center;
    padding: 97px 0 83px 0;
    background-image: url("../img/hero3.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 768px) {
        background-image: url("../img/hero2.png");
        padding: 100px 0 100px 0;
    }
    @media (min-width: 1200px) {
        background-image: url("../img/hero1.png");
        padding: 128px 0 163px 0;
    }
    &__intro{
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $medium-gray;
    }
    &__header{
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: $white;
        strong{
            font-weight: 700;
        }
        margin-bottom: 30px;
        @media (min-width: 768px) {
            line-height: 35px;
        }
        @media (min-width: 1200px) {
            font-size: 35px;
            line-height: 42px;
        }
    }
    &__paragraph{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $white;
        margin-bottom: 30px;
        strong{
            font-weight: 700;
        }
        
        @media (min-width: 1200px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__button{
        font-family: 'Bebas Neue';
        font-size: 24px;
        line-height: 27px;
        font-weight: 400;
        padding: 6px 0;
        width: 100%;
        background-color: $green;
        color: $white;
        border: none;
        margin-bottom: 30px;
        @media (min-width: 768px) {
            width: 80%;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: $white;
        &--terms{
            color: $white;
            line-height: 18px;
            @media (min-width: 768px) {
                line-height: 14px;
            }
        }
        a{
            text-decoration: none;
            color: $red;
        }
        .demo-account{
            color: $white;
            text-decoration: underline;
        }
        span{
            color: $red;
        }
    }
}

/*****************************************************************/


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 16px 42px 70px 42px;
  background-color: $black-2;
  @media (min-width: 1200px) {
    padding: 16px 42px 50px 42px;
}
  
  .card {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin-bottom: 33px;
    padding: 16px;
    flex: 1 0 calc(100% - 20px);

    background: rgba(140, 140, 140, 0.1);
    mix-blend-mode: normal;
    border: 0.871376px solid rgba(167, 167, 167, 0.2);
    border-radius: 13px;
    @media (min-width: 768px) {
        margin-bottom: 42px;
    }

    &__header{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        border: none;
    }

    &__image{
        margin-right: 8px;
        img{
            height: 35px;
            @media (min-width: 768px) {
                height: 30px;
            }
            @media (min-width: 1200px) {
                height: 35px;
            }
        }
    }

    &__symbol {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: $white;
        margin-right: 8px;
        @media (min-width: 1200px) {
            font-size: 13px;
            line-height: 16px;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
        color: $black;
        padding: 2px 7px;
        background-color: $light-yellow;
        text-transform: uppercase;
        border-radius: 3px;
    }

    &__price {
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: $white;
        @media (min-width: 1200px) {
            font-size: 19px;
            line-height: 23px;
        }
    }

    &__change {
        color: $white;
        font-weight: bold;
        border-radius: 5px;
        display: inline-block;
    
    
        background-color: transparent;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (min-width: 1200px) {
            font-size: 13px;
            line-height: 16px;
        }
        .fa-circle-chevron-down,
        .fa-circle-chevron-up{
            font-size: 10px;
            margin-right: 4px;
        }
    }

    &__change--positive {
      color: $light-green;
    }

    &__change--negative {
      color: $light-red
    }

    &__hr {
      height: 2px;
      opacity: 0.15;
      background-color: black;
      border: none;
      margin: 10px 0 14px 0;
    }

  }
  
  @media screen and (min-width: 768px) {
    .card {
      flex: 0 0 calc(33.33% - 20px);
      margin-right: 18px;
    }
  }

  @media screen and (min-width: 1200px) {
    .card {
      flex: 0 0 calc(20% - 20px);
      margin-right: 18px;
    }
  }
}


/*****************************************************************/
    .trade-section{
        background-color: $black-2;
        color: $white;
        .trade-head{
            
            text-align: center;
            padding: 0 25px 0 15px;
            margin-bottom: 60px;
            @media (min-width: 1200px){
                width: 75%;
                margin: 0 auto 30px auto;
            }

            &__header{
                font-weight: 300;
                font-size: 32px;
                line-height: 43px;
                margin-bottom: 0;
                strong{
                    font-weight: 700;
                }
            }
            &__horizontal{
                width: 70px;
                height: 2px;
                opacity: 1;
                background-color: $green;
                border: none;
                margin: 25px auto;
            }
            &__paragraph{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 0;
                strong{
                    font-weight: 700;
                }
            }
        }
        .trade {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, atuo);
            grid-column-gap: 25px;
            grid-row-gap: 25px;
            margin-left: 15px;
            margin-right: 25px;

            @media (min-width: 1200px){
                grid-column-gap: 20px;
                grid-row-gap: 20px;
            }
    
            &__card{
                position: relative;
                background: $black-3;
                backdrop-filter: blur(45px);    
                border-radius: 10px;
                padding: 43px 20px;
                
            }
    
            &__header{
                margin-bottom: 0;
            }
    
            &__horizontal{
                width: 50px;
                height: 2px;
                margin: 20px 0;
                background-color: $green;
                border-radius: 50px;
            }

            &__paragraph{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                strong{
                    font-weight: 700;
                }
            }
    
            &__image{
                position: absolute;
                height: 58px;
                right: 27px;
                top: 19px;
            }
    
            &__card--1 {
                grid-area: 1 / 1 / 2 / 2;
    
            }
    
            &__card--2 {
                grid-area: 2 / 1 / 3 / 2;
    
            }
    
            &__card--3 {
                grid-area: 3 / 1 / 4 / 2;
                &__image{
                    right: 18px;
                    top: 19px;
                }
            }
    
            &__card--4 {
                grid-area: 4 / 1 / 5 / 2;
                &__image{
                    right: 23px;
                }
            }
    
        }
    
        @media (min-width: 768px) {
            .trade {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(4, auto);
                margin-left: 113px;
                margin-right: 125px;
    
                &__card--1 {
                    grid-area: 1 / 1 / 2 / 2;
                }
    
                &__card--2 {
                    grid-area: 2 / 1 / 3 / 2;
                }
    
                &__card--3 {
                    grid-area: 3 / 1 / 4 / 2;
                }
    
                &__card--4{
                    grid-area: 4 / 1 / 5 / 2;
                }
            }
    
        }
    
        @media (min-width: 1200px) {
            .trade {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, auto);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                max-width: 1000px;
                margin: auto;
    
                &__card--1 {
                    grid-area: 1 / 1 / 3 / 2;
    
                    .trade__image{
                        position: absolute;
                        bottom: 56px;
                        left: 42px;
                        right: 0;
                        top: auto;
                        height: 180px;
                    }
                }
    
                &__card--2 {
                    grid-area: 1 / 2 / 2 / 4;
                }
    
                &__card--3 {
                    grid-area: 2 / 2 / 3 / 3;
                    padding-right: 50px;
                }
    
                &__card--4 {
                    grid-area: 2 / 3 / 3 / 4;
                }
            }
        }
    }

/*****************************************************************/


.register{
    background: $black-2;
    padding: 70px 35px 71px 25px;

    &__title{
        font-size: 24px;
        line-height: 27px;
        font-weight: 700;
        color: $white;
        text-align: center;

        margin-bottom: 35px;

        @media (min-width: 768px) {
            font-size: 34px;
            line-height: 38px;
        }
        
    }

    &__description{
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: $white;
        text-align: center;

        margin-bottom: 20px;
    
    }

    &__icon{
        height: 30px;
        margin-bottom: 12px;
    }

    &__data{
        display: flex;
        flex-direction: column;
        margin-bottom: 62px;
        @media (min-width: 768px) {
            justify-content: center;
            flex-direction: row;
            margin-bottom: 57px;
        }
        @media (min-width: 1200px){
            margin-bottom: 51px;
        }
    }

    &__clock{
        white-space: nowrap;
        @media (min-width: 768px) {
            border: 1px solid $white;
        }
    }

    &__date{
        white-space: nowrap;
        @media (min-width: 768px) {
            border-top: 1px solid $white;
            padding: 23px 49px 35px 29px;
        }
    }

    &__date,
    &__clock,
    &__location{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid $white;

    }

    &__location{
        padding-bottom: 20px;
        border-bottom: none;
        @media (min-width: 768px) {
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
        }
    }


    &__date-text,
    &__clock-text,
    &__location-text{
        font-weight: 500;
        font-size: 15px;
        line-height: 30px;
        color: $white;
        text-transform: uppercase;
    }

    &__location-text{
        text-align: center;
        line-height: 18px;
        border-bottom: none;
    }


    @media (min-width: 1200px) {
        .register__form{
            max-width: 900px;
            margin: auto;
        }
    
    }
    .form{
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .register__email { grid-area: 1 / 1 / 2 / 3; }
        .register__password { grid-area: 2 / 1 / 3 / 3; }
        .success-message { grid-area: 3 / 1 / 4 / 3; }
        .register__buttons { grid-area: 4 / 1 / 5 / 3; }
        .register__terms { grid-area: 5 / 1 / 6 / 3; }

        .register__paragraphs { 
            margin-top: 15px;
            @media (min-width: 1200px){
                margin-left: 8px;
            }
        }

        @media (min-width: 1200px){
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);
            .register__email { 
                grid-area: 1 / 1 / 2 / 2; 
                margin-right: 5px;
            }
            .register__password { 
                grid-area: 1 / 2 / 2 / 3;
                margin-left: 5px; 
            }
            .success-message { grid-area: 2 / 1 / 3 / 3; }
            .register__buttons { grid-area: 3 / 1 / 4 / 3;}
            .register__terms { grid-area: 4 / 1 / 5 / 3; }
        }

    }
    

    &__email, &__password{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        label{
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: $white;
            margin-bottom: 10px;
        }
        input{
            background: $white-2;
            border: 1px solid $light-gray-2;
            font-size: 14px;
            line-height: 16px;
            padding-top: 11px;
            padding-bottom: 11px;
            padding: 12px 6px;
        }
    }

    &__error{
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        margin-top: 8px;
    }

    &__requirement{
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: $light-gray-3;
        margin-bottom: 5px;
        i{
            font-size: 9px;
            margin-right: 8px;
        }
        @media (min-width: 768px){
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 2px;
        }
    }

    .success-message{
        display: block;
        background: $white-3;
        border: 1px solid $green-2;
        color: $green-3;
        padding: 47px 32px 62px 32px;
        margin-top: 29px;
        margin-bottom: 38px;
        img{
            height: 53px;
            margin-right: 14px;
        }
        &__header{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 32px;
            
            h3{
                font-weight: 500;
                font-size: 22px;
                line-height: 25px;
                margin-bottom: 0;
                @media (min-width: 1200px){
                    font-size: 24px;
                    line-height: 28px;
                }
            }
        }
        &__footer{
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 0;
            i{
                margin-right: 10px;
            }
        }
    }


    &__button{
        margin-top: 41px;
        margin-bottom: 25px;
        width: 100%;
        @media (min-width: 1200px){
            width: 30%;
            display: block;
            margin: 10px auto 25px auto;
        } 
    }

    &__terms-text--account{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: white;
        margin-bottom: 25px;
        a{
            color: $red;
            text-decoration: underline;
        }
    }
    &__terms-text--conditions{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        margin-bottom: 0;
        a{
            color: $red;
        }
    }

}


/*****************************************************************/

.slider-section{
    margin: 0 auto;
    padding: 55px 0;
    @media (min-width: 768px){
        padding: 75px 0;
    }
    @media (min-width: 1200px){
        padding: 71px 0;
    }
    background-color: $white-4;
    .container {
        max-width: 75rem;
        height: auto;
        margin-inline: auto;
        padding-inline: 1.25rem;
        .slider-header{
            margin-bottom: 40px;
            font-weight: 800;
            font-size: 24px;
            line-height: 39px;
            text-align: center;
            color: $black-4;
            @media (min-width: 768px){
                font-size: 30px;
                line-height: 39px;
            }
            @media (min-width: 1200px){
                margin-bottom: 50px;
            }
        }
        .swiper{
            width: 90%;
            &-button-next::after,
            &-button-prev::after {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 0.75rem;
              font-weight: 800;
              padding: 0;
              width: 2rem;
              height: 2rem;
              opacity: 0.75;
              border-radius: 50%;
              color: hsl(206, 5%, 100%);
              background: hsl(210, 20%, 6%);
            }
            .swiper-slide{
                display: block;
                max-width: 100%;
                height: auto;
                object-fit: cover;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: -moz-crisp-edges;
                image-rendering: crisp-edges;
            }
        }
      }
}


/*****************************************************************/

    .about {
        display: grid;
        overflow: hidden;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);

        padding-top: 60px;
        padding-bottom: 20px;
        @media (min-width: 768px) {
            padding: 57px 85px 30px 85px;


            &__item--1{
                padding-right: 20px;
                padding-left: 20px;
            }
            &__item--2,
            &__item--3,
            &__item--4,
            &__item--5{
                padding: 0px 50px 0px 0px;
            }
        }
        @media (min-width: 1200px){
            padding: 90px 85px;
        }

        &__item{
            padding: 0px 20px 0px 20px;

            @media (min-width: 768px) {
                padding: 0px 50px 0px 0px;
            }
        }

        

        &__header{
            display: flex;
            flex-direction: row;
            font-weight: 900;
            font-size: 35px;
            line-height: 48px;
            letter-spacing: -0.02em;
            text-align: center;
            margin-bottom: 23px;
            position: relative;
            text-align: center;
            padding-top: 26px;
            white-space: nowrap;
            @media (min-width: 768px) {
                padding-top: 29px;
                margin-bottom: 24px;
                font-size: 42px;
                line-height: 48px;
                text-align: left;
            }
            @media (min-width: 1200px) {
                font-size: 80px;
                line-height: 90px;
                flex-direction: column;
            }
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: calc(50% - 20px);
              width: 40px;
              height: 4px;
              background-color: $red; 
              @media (min-width: 1200px) {
                left: 0;
                width: 72px;
            }
            }
            span{
                color: $red;
            }
            .about__header-1,
            .about__header-2{
                margin-right: 10px;
            }
            
        }

        &__paragraph{
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: $shadow-gray;
            text-align: center;
            margin-bottom: 65px;
            @media (min-width: 768px) {
                font-size: 16px;
                line-height: 34px;
                margin-bottom: 53px;
            }
            @media (min-width: 1200px) {
                text-align: left;
                font-size: 17px;
                line-height: 24px;
                max-width: 225px;
            }
            strong{
                font-weight: 700;
            }
        }

        &__img-wrapper{
            margin-bottom: 20px;
        }

        &__img{
            height: 53px;
            display: block;
            margin: 0 auto 18px auto;
            @media (min-width: 768px) {
                margin: auto 0;
            }
            @media (min-width: 1200px) {
                height: 57px;
            }
        }

        &__subheader{
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            text-align: center;

            color: $shadow-gray;
            margin-bottom: 16px;
            @media (min-width: 768px) {
                text-align: left;
            }
            @media (min-width: 1200px) {
                font-size: 19px;
                line-height: 25px;
            }
        }

        &__subparagraph{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: $shadow-gray;
            margin-bottom: 47px;
            @media (min-width: 768px) {
                text-align: left;
            }
            @media (min-width: 1200px) {
                line-height: 21px;
            }
        }

        &__item--1 { grid-area: 1 / 1 / 2 / 2; }
        &__item--2 { grid-area: 2 / 1 / 3 / 2; }
        &__item--3 { grid-area: 3 / 1 / 4 / 2; }
        &__item--4 { grid-area: 4 / 1 / 5 / 2; }
        &__item--5 { grid-area: 5 / 1 / 6 / 2; }
        @media (min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            &__item--1 { grid-area: 1 / 1 / 2 / 3; }
            &__item--2 { grid-area: 2 / 1 / 3 / 2; }
            &__item--3 { grid-area: 2 / 2 / 3 / 3; }
            &__item--4 { grid-area: 3 / 1 / 4 / 2; }
            &__item--5 { grid-area: 3 / 2 / 4 / 3; }
        }
        @media (min-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            &__item--1 { grid-area: 1 / 1 / 3 / 2; }
            &__item--2 { grid-area: 1 / 2 / 2 / 3; }
            &__item--3 { 
                grid-area: 1 / 3 / 2 / 4;
                padding-right: 0;
                padding-left: 85px;
                .about__subparagraph{
                    max-width: 250px;
                }
            }
            &__item--4 {
                grid-area: 2 / 2 / 3 / 3;
                padding-top: 35px;
            }
            &__item--5 { 
                grid-area: 2 / 3 / 3 / 4;
                padding-top: 35px;
                padding-left: 85px;
                .about__subparagraph{
                    max-width: 250px;
                }
            }
        }   
    }
    
    /*****************************************************************/
    .footer {
        background-color: $black;
        padding: 60px 12px;

        @media (min-width: 768px) {
            padding: 30px;
        }

        .footer__row {
            height: calc(50% - 0.5px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            font-weight: 400;
            font-size: 12px;
            line-height: 17px;

            @media (min-width: 768px) {
                flex-direction: row;
            }

            @media (min-width: 1200px) {
                border-top: 1px solid $white-5;
            }


            &:first-child {
                border-top: none;
            }

            .footer__logos {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px 0;

                img {
                    height: 100%;
                    margin-right: 58px;

                    &:last-of-type {
                        margin-right: 0px;
                    }
                }
            }

            .footer__social {
                align-items: center;
                display: flex;
                flex-direction: row;
                .footer__social-text {
                    color: gray;
                    margin-right: 15px;
                }

                .footer__social-icons {
                    a {
                        color: $light-gray;
                        margin-right: 14px;
                        display: inline-block;

                        &:last-of-type {
                            margin-right: 0;
                        }

                        i {
                            font-size: 20px;
                        }
                    }
                }
            }

            .footer-row-links {
                a {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 17px;
                    color: $gray;
                    text-decoration: none;

                    &:not(:last-child) {
                        &:after {
                            content: "|";
                            margin-left: 5px;
                            margin-right: 5px;
                            color: $light-gray;
                        }
                    }
                }
            }

            .footer__logo {
                margin-top: 24px;

                @media (min-width: 1200px) {
                    margin-top: 10px;
                }
            }

            &:first-of-type {
                display: none;

                @media (min-width: 1200px) {
                    display: flex;
                }
            }

        }

    }

}